body {
  background: #d5d5d5 url(/images/bg.jpg) top center fixed no-repeat;
  color: #424242;
  font-family: "Microsoft YaHei", verdana, helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft YaHei", verdana, helvetica, arial, sans-serif;
}

a {
  color: #424242;
  text-decoration: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  &:hover, &.active {
    text-decoration: none;
    color: #8ec640;
  }
}

ul {
  padding: 0; margin: 0;
  li {
    list-style-type: none;
  }
}

.container {
  width: 980px;
  padding-left: 30px;
  padding-right: 30px;
}

.my-carousel-control {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  color: white;
  .glyphicon {
    top: 18px;
    left: 18px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }
  &:hover {
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.relative { position: relative; }

.quick-link.imgs {
  a {
    padding: 0;
    padding-right: 10px;
    &:last-child { padding-right: 0; }
    &:hover {
      h5 {
        border-bottom: 3px solid #8ec640;
      }
    }
    img {
      min-height: 150px;
      width: 100%;
    }
    h5 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: block;
      color: white;
      background: rgba(85, 85, 85, 0.5);
      line-height: 300%;
      margin: 0;
      border-bottom: 3px solid white;
      padding: 0 10px;
      text-transform: uppercase;
    }
  }
}

body > .content {
  background: white;
  margin-top: 50px;
  border-radius: 2px 2px 0 0;
  padding-bottom: 50px;
  > div { margin: 10px 0; }
  .header {
    position: relative;
    padding: 40px 0 0;
    .locales {
      position: absolute;
      top: 10px;
      right: 0;
      background: #ddd;
      background: #d5d5d5 url(/images/bg.jpg) top center fixed no-repeat;
      padding: 5px 10px;
      span a {
        &:hover { color: #555; }
      }
    }
    a.brand {
      img {
        margin-bottom: 20px;
      }
      h1 {
        color: black;
        margin: 20px 0;
      }
      &:hover {
        text-decoration:none;
      }
    }
    .nav {
      text-transform: uppercase;
      ul {
        margin: 0;
        padding: 5px 0;
        li {
          list-style-type: none;
          display: inline-block;
          border-right: 1px solid #d9d9d9;
          &:last-child {
            border-right: none;
          }
          a {
            padding: 0 10px;
          }
        }
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
  #carousel {
    margin: 10px 0;
    .carousel-inner {
      .item {
        img {
          min-height: 300px;
          margin: 0 auto;
        }
      }
    }
  }
}

body > .footer {
  background: #949495;
  color: white;
  border-radius: 0 0 2px 2px;
  margin-bottom: 50px;

  .categories {
    padding: 20px 0 50px;
    border-bottom: 1px solid #848484;
    h5 {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
    ul {
      padding: 0;
      li {
        list-style-type: none;
        text-transform: capitalize;
      }
    }
    a {
      font-size: 14px;
      color: white;
      &:hover {
        color: #ddd;
        text-decoration: none;
      }
    }
  }

  .copyright {
    font-size: 12px;
    padding: 20px 0;
    a {
      color: white;
      line-height: 200%;
      &:hover {
        text-decoration: none;
        color: #ddd;
      }
    }
  }
}

ul.menu {
  padding-right: 20px;
  text-transform: uppercase;
  li {
    a {
      line-height: 250%;
      display: block;
      &:not(.title):hover, &:not(.title).active {
        &:after {
          content: " \e092";
          font-family: "Glyphicons Halflings";
          font-size: 10px;
        }
      }
      &.title {
        font-size: 120%;
      }
    }
    border-bottom: 1px solid #ececec;
    &:last-child {
      border-width: 2px;
    }
    .sub-menu {
      margin-left: 10px;
      li:last-child {
        border: none;
      }
    }
  }
}

.thumb {
  position: relative;
  img {
    width: 100%;
    border-bottom: 3px solid white;
    &:hover { border-bottom: 3px solid #8ec640; }
  }
  .title {
    height: 70px;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
    p { margin-bottom: 0; }
  }
}

.right-content {
  h2, h3, h4 {
    color: #8ec640;
    text-transform: uppercase;
  }
}

.title {
  text-transform: uppercase;
  &.contact-us {
    font-weight: bold;
    text-align: right;
    min-width: 100px;
    display: inline-block;
    margin-right: 10px;
  }
  &.group {
    color: #8ec640;
  }
}

.img.detail {
  position: relative;
  .title {
    color: #8ec640;
  }
  img { width: 100%; margin-bottom: 20px; }
}

h3.contact-us {
  color: #8ec640;
}

.row.margin-bottom {
  margin-bottom: 40px;
}

ul.page {
  text-align: center;
  li {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 100%;
    &.page-current {
      font-weight: normal;
      font-size: 14px;
      color: #ffffff !important;
      padding: 5px 8px;
      background-color: #8EC640;
    }
    a {
      font-size: 14px;
      padding: 4px 8px;
      color: #8ec640;
      -moz-transition: color .15s;
      -webkit-transition: color .15s;
      -o-transition: color .15s;
      transition: color .15s;
      &:hover {
        font-weight: normal;
        font-size: 14px;
        color: #ffffff !important;
        padding: 4px 8px;
        background-color: #8EC640;
      }
    }
  }
}
