---
title: Welcome to Middleman
---

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="/images/products/img1.png" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="/images/products/img2.png" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="/images/products/img3.png" />
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
        </div>
      </div>
    </div>
  </div>
  <a class="left my-carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right my-carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="row carousel-selector">
  <a href="#" data-target="#carousel" data-slide-to="0" class="col-xs-4 col-md-4 active">
    <div class="relative">
      <img src="/images/products/img11.jpg" />
      <h5>标题1</h5>
    </div>
  </a>
  <a href="#" data-target="#carousel" data-slide-to="1" class="col-xs-4 col-md-4 active">
    <div class="relative">
      <img src="/images/products/img22.jpg" />
      <h5>标题2</h5>
    </div>
  </a>
  <a href="#" data-target="#carousel" data-slide-to="2" class="col-xs-4 col-md-4 active">
    <div class="relative">
      <img src="/images/products/img33.jpg" />
      <h5>标题3</h5>
    </div>
  </a>
</div>
